.user-image:hover .hover-image{
        display: block;
}
.hover-image{
  display: none;
}
.profile-userpic {
    position: relative;
    overflow: hidden;
    width: 136px;
    height: 136px;
    border-radius: 50% !important;
    margin: auto;
    background: #fff url("images/couple.png") !important;
    background-size: 100%;
    text-align: center;
    cursor: pointer;
    box-shadow: 0px 3px 5px lightgrey;
}
.hover-image {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    background: rgba(0, 0, 0, 0.5);
    height: 100%;
    padding: 75% 0;
}
 .user-images:hover .hover-images{
        display: block;
}
.hover-images{
  display: none;
}
.user-image a{
    color: white;
    text-decoration: blink; 
    font-size:14px;
}
.profile-userpics {
    position: relative;
    overflow: hidden;
    width: 136px;
    height: 136px;
    border-radius: 50%;
    margin: auto;
    border: 1px solid white;
    background: url("");
}
.hover-images {
    position: ;
    left: 0;
    top: 0;
    width: 16%;
    background: url("") rgba(0, 0, 0, 0.48);
    height: 19%;
}
.hover-images h3 {
    margin-top: 70%;
}
/* alert message */
.alert ul {
    list-style: none;
    padding-left: 0;
}

/* Post Icon */
.post-icon-bar{
    padding: 5px 10px 5px 0px;
    border-radius: 0 0 4px 4px !important;
    border-top: 1px solid lightgrey;
    position: relative;
    height: 38px;
}

.post-job-skill-bar{
    
}

.job{
    float: right;
    position: absolute;
    right: 0;
    top: 0;
    padding: 3px;
    font-size: 15px;
    text-transform: capitalize;
    font-family: sans-serif;
    font-weight: bold;
    color: #FFF;
    /*border-radius: 20px !important;*/
    width: 65px;
    text-align: center;
    margin: -47px -28px 0px 16px;
   -webkit-transform: rotate(-45deg);
   -ms-transform: rotate(-45deg); /* IE 9 */
    transform: rotate(-45deg);
    border-top: 44px solid transparent;
    border-bottom: 44px solid transparent;
    border-left: 44px solid #61b3de;
}

.job a:hover{
    text-decoration: none;
    color:white;
    cursor: context-menu;
}

.skill{
    float: right;
    position: absolute;
    right: 0;
    top: 0;
    padding: 3px;
    font-size: 15px;
    text-transform: capitalize;
    font-family: sans-serif;
    font-weight: bold;
    color: #FFF;
    /*border-radius: 20px !important;*/
    width: 65px;
    text-align: center;
    margin: -47px -28px 0px 16px;
   -webkit-transform: rotate(-45deg);
   -ms-transform: rotate(-45deg); /* IE 9 */
    transform: rotate(-45deg);
    border-top: 44px solid transparent;
    border-bottom: 44px solid transparent;
    border-left: 44px solid #70b29c; 
}

.skill a:hover{
    text-decoration: none;
    color:white;
    cursor: context-menu;
}

.post-job{
background-color: white;
}

.post-skill{
background-color:white; 
}


.post-skill-type {
    
}

.post-type-class{
    position: absolute;
    -webkit-transform: rotate(89deg);
    -ms-transform: rotate(89deg); /* IE 9 */
    transform: rotate(89deg);
    margin: -10px -54px;
    color: white;
    font-size: 16px;
}



.post-icon{
    font-size: 20px;
    margin: 5px;
}

.post-social-icon-bar {
   /* width: 33%; */
    float: right;
    bottom: 2px;
    /* right: 260px; */
    position: ;
}

.post-social-icon{
    font-size: 14px !important;
    margin: 7px 5px;
    line-height: 10px !important;
    color: white !important;
}

.post-social-icon-bar a {
    margin: 5px;
    background-color: #EEE;
    border-radius: 50%;
    width: 23px;
    height: 23px;
    float: left;
    text-align: center;
    color: white;
}

.post-social-icon-bar a i {
    color: white;
}

.post-social-icon-bar a.facebook {
    background-color: #3b5998;
}

.post-social-icon-bar a.google-plus{
    background-color: #dc4e41;
}

.post-social-icon-bar a.linkedin{
    background-color: #0077b5;
}
.post-type {
    float: right;
    position: absolute;
    right: 0;
    bottom: 0;
    padding: 3px;
    background-color: #67DACF;
    font-size: 15px;
    text-transform: capitalize;
    font-family: sans-serif;
    font-weight: bold;
    color: #FFF;
    border-radius: 15px !important;
    width: 65px;
    text-align: center;
    margin: 5px;
}

/* user short detail section in sidebar */
.user-short-detail-container{
    text-align: center;
    color: #EEE;
}

.user-short-detail-container h3{
    margin: 0;
}

.user-short-detail-container .user-name{
    font-size: 20px;
    color: #EEE;
    padding: 3px 4px;
    margin: 8px 0 0;
}

.user-short-detail-container .user-company{
    font-size: 14px;
    padding: 2px 4px;
}

.user-short-detail-container .user-location{
    font-size: 14px;
    font-size: 14px;
    padding: 2px 4px;
    margin-bottom: 15px;
}

.user-short-detail-container .user-image{
    margin-top: 25px;
}

.image-post{
    margin: 0 18px;
}


.badge-like{
    position: absolute;
    color: darkslategray;
    font-size: 14px;
    text-align: center;
    line-height: 1.8;
    font-weight: 500;
    float: left;
    bottom: 8px;
    left: 42px;
}

.badge-share{
    position: absolute;
    color: darkslategray;
    font-size: 14px;
    text-align: center;
    line-height: 1.8;
    font-weight: 500;
    float: right;
    bottom: 8px;
    left: 33px;
}

.badge-like-add{

    position: absolute;
    font-size: 9px !important;
    font-weight: 300;
    text-align: center !important;
    height: 0px;
    /* padding: 1px 5px 1px 4px; */
    /* -webkit-border-radius: 12px !important; */
    -moz-border-radius: 12px !important;
    border-radius: 12px !important;
    text-shadow: none !important;
    text-align: center !important;
    vertical-align: middle;
    /* position: relative; */
    margin: 0px 0px 0px -12px;
    background-color: tomato;
    color: white;
    display: table;
    border-radius: 50%;
    width: 17px;
    height: 17px;
    line-height: 1.9;
    top: 7px;
    right: -8px;
}

.icon-userpic{
    position: absolute;
    bottom: 0;
    left: 0;
    margin: -4px 6px;
    color: black;
    background-color: white;
    width: 25px;
    border: 1px solid darkgray;
    height: 25px;
    border-radius: 15px !important;
    text-align: center;
    line-height: 1.6;
}

.detail-list{
    border: 1px solid lightgrey;
    position: relative;
    margin: 8px 0px;
    background-color:whitesmoke; 
}

.show_hide {
    display:none;
}

.user-link{
    position: absolute;
    width: 25px;
    height: 25px;
    background-color: lightgray;
    border-radius: 12px !important;
    text-align: center;
    line-height: 2;
}

.user-link-click{
    position: absolute;
    width: 25px;
    height: 25px;
    background-color: coral;
    border-radius: 12px !important;
    text-align: center;
    line-height: 2;
}

.skill-display{
    font-size: 14px;
    font-weight: 500;
    text-transform: capitalize;
    background-color: whitesmoke;
    height: 30px;
    margin: 8px 0px 8px -1px;
    padding: 4px 3px;
}

.time-item{
    border: 1px solid #61b3de;
    margin: 6px 0px 10px -11px;
    position: relative;
    padding: 0px 5px 0px 5px;
    box-shadow: 4px 4px 4px rgb(222, 222, 222);
    border-radius: 6px !important;
    background: white;
}

.pin-bar{
    float: right;
    top: 86px;
    position: absolute;
    right: 0px;
    border-radius: 20px !important;
    box-shadow: 1px 1px black;
}

.pin-skill-bar{
    float: right;
    top: 74px;
    position: absolute;
    right: 0px;
    border-radius: 20px !important;
    box-shadow: 1px 1px black;
}

.userpic-box{
    border: 1px darkgrey solid;
    /*box-shadow: 2px 0px darkgrey;*/
}

.share-bar{
    float: right;
    right: 35px;
    position: absolute;
    top:-5px;
    text-align: center;
    line-height: 1.6;
}

.span-share{
    float: right;
    top: 13px;
    position: absolute;
    right: 10px;
    font-weight: 600;
}

.like-bar{
    float: left;
    position: absolute;
    bottom: 0;
    border-right: 1px solid lightgray;
}

/* View Page */
.view-page{
    padding-top: 2px;
    font-size: 14px;
}

ul{
    list-style: none;
}


/* usertitle in view page */
.usertitle-profile{
    float: none;
    display: table;
    margin: 10px auto;
    text-align: center;
}

.profile-list{
    border: 1px solid grey !important;
    height: 45px;
    width: 82px;
    line-height: 1.6;
    border-radius: 5px !important;
    margin: 0 2px;
}

.apply-contact-btn{
    margin: 0 auto;
    float: none;
    display: table;
    margin-top: -39px;
    padding: 8px 30px;
    box-shadow: 0 3px 5px gray;
    border-radius: 5px !important;
    font-size: 14px;
}

.media-body, .media-left, .media-right {
    display: table;
    float: left;
}
.media-body {
    width: auto;
    font-weight: normal;
}

.media-body-left {
    float: left;
    min-width: 200px;
}
.media-body-right {
    float: left;
    min-width: 80px;
}
.media-left img {
    width: 60px;
    height: 60px;
    background-color: #EBEBEB;
    border: 1px solid #ddd;
    padding: 3px;
}
.select2-container-multi .select2-choices {
    padding: 0 5px 0 0;
    background: white;
}

.detail-label{
    font-size: 14px;
    /*font-weight: 500;*/
}

.thanks-icon{
    font-size: 23px !important;
    color: lightslategray;
}

.extend-expire{
    font-size: 17px;
    font-weight: 600;
    text-decoration: none;
    border: 1px solid;
    border-radius: 5px !important;
}

.tabular{
    width: 30px;
    height: 30px;
    background-color: rebeccapurple;
    border-radius: 15px !important;
    line-height: 2;
    text-align: center;
}

.stepwizard-step p {
    margin-top: 10px;
}
.stepwizard-row {
    display: table-row;
}
.stepwizard {
    display: table;
    width: 100%;
    position: relative;
    margin-left: 0px;
}
.stepwizard-step button[disabled] {
    opacity: 1 !important;
    filter: alpha(opacity=100) !important;
}
.stepwizard-row:before {
    top: 14px;
    bottom: 0;
    position: absolute;
    content: " ";
    width: 77%;
    height: 1px;
    background-color: #ccc;
    z-order: 0;
}
.stepwizard-step {
    display: table-cell;
    /*text-align: center;*/
    position: relative;
}
.btn-circle {
    width: 30px;
    height: 30px;
    text-align: center;
    padding: 6px 0;
    font-size: 12px;
    line-height: 1.428571429;
    border-radius: 15px;
}

.show{
    display: block;
}

.hide{
    display: none;
}

.nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover{
    color: #2CC185;
    background-color: transparent;
}