.user-image:hover .hover-image{
        display: block;
}
.hover-image{
  display: none;
}
.profile-userpic {
    position: relative;
    overflow: hidden;
    width: 136px;
    height: 136px;
    border-radius: 50% !important ;
    margin: auto;
	border: 1px solid darkcyan;
    background: url("images/couple.png") !important;
}
.hover-image {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    background: url("images/couple.png") rgba(0, 0, 0, 0.48);
    height: 100%;
}
.hover-image h3 {
    margin-top: 70%;
}
 .user-images:hover .hover-images{
        display: block;
}
.hover-images{
  display: none;
}
.profile-userpics {
    position: relative;
    overflow: hidden;
    width: 136px;
    height: 136px;
    border-radius: 50%;
    margin: auto;
    border: 1px solid white;
    background: url("");
}
.hover-images {
    position: ;
    left: 0;
    top: 0;
    width: 16%;
    background: url("") rgba(0, 0, 0, 0.48);
    height: 19%;
}
.hover-images h3 {
    margin-top: 70%;
}
/* alert message */
.alert ul {
    list-style: none;
    padding-left: 0;
}

/* Post Icon */
.post-icon-bar{
    background-color: #eee;
    padding: 5px 15px 5px 15px;
    margin: 15px -19px -19px;
    border-radius: 0 0 4px 4px !important;
}

.post-icon{
    font-size: 20px;
    margin: 5px;
}

.post-social-icon-bar{
    position: absolute;
    right: 0;
    top: 0;
    width: 35px;
    padding: 8px 0;

}
.post-social-icon{
    font-size: 24px !important;
    margin: 8px 5px;
}