.label-new{
	font-size: 14px !important;
}

.search-input-box{
	margin-top: -15px;
    border-bottom: 1px solid grey;
}

.icon-color{
	color:grey !important;
}


@media (max-width: 990px){
.toggle-disp{
	float: right;
    right: 20px;
    top: 30px;
    position: absolute;
}
}

@media screen and (min-width: 1000px) {
.navigation-bar{
	display: none;
}

}


.links-title{
	float: none !important;
    margin: 0 auto;
    display: table !important;
}
