.label-new{
	font-size: 14px !important;
}

.search-input-box{
	margin-top: -15px;
    border-bottom: 1px solid grey;
}

.icon-color{
	color: #DADADA !important;
}

.show-details{
  display: none;
}

.link-follow-icon{
  position: absolute;
    bottom: 0;
    left: 0;
    margin: -2px 3px;
}

.elipsis-code{
  white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
@media (max-width: 990px){
.toggle-disp{
	float: right;
    right: 20px;
    top: 30px;
    position: absolute;
}
}

@media screen and (min-width: 1000px) {
.navigation-bar{
	display: none;
}

#nav-than-fav{
	display: none;
}

}

@media (max-width: 990px){
.thank-fav-icon{
display:none !important;
}
}

@media (max-width: 990px){
.thank-fav-icon-disp{
/*margin-top:70px !important; */
}
}



.links-title{
	float: none !important;
    /*margin: 0 auto;
    display: table !important;*/
}


.button-style-add{
	border: 1px solid;
    border-radius: 8px !important;
}

.icon-style-add{
	font-size: 17px !important;
    background-color: #45B6AF;
    padding-top: 4px;
}

.button-style-del{
	border: 1px solid grey;
    border-radius: 8px !important;
    background-color: transparent;
}

.icon-style-del{
	font-size: 15px !important;
    /* background-color: #F3565D; */
    padding-top: 4px;
    color: #F3565D;
}


.updates-style{
	margin: 5px;
    height: auto;
    border: 1px solid lightblue;
    padding: 15px 10px;
    border-radius: 5px !important;
}

.report{
	float: right;
    position: relative;
    right: -5px;
    bottom: 28px;
}


.link-label{
    font-size: 15px;
    text-decoration: none !important;
    font-weight: 500;
    color: gray;
    cursor: default;
}

.nav-thank-fav{
	float: none;
    margin: 20px auto;
    display: table;
}


.portlet-light-bar{
	background-color: whitesmoke !important;
    padding: 12px 20px 10px 20px !important;
    border-radius: 5px !important;
}


@media (max-width: 768px) {
  .btn-responsive {
    padding: 5px 10px;
    font-size: 112%;
    line-height: 1;
    border-radius:3px;
  }
   .input-responsive {
    padding: 6px 16px;
    /*height: 25px;*/
  }
  .leave-del{
   float: right;
   position: absolute;
   right: 20px;
   top: 41px !important;
 }
 .nav-tab-new{
  float: none !important;
    margin: 0px 72px auto !important;
    display: table !important;
    padding-left: 0px;
}
}

@media (min-width: 769px) and (max-width: 990px) {
  .btn-responsive {
    padding:4px 9px;
    font-size:90%;
    line-height: 1.2;
  }

  .input-responsive {
    padding: 6px 20px;
  }

  .jobskill{
    width: 21% !important;
  }
    .leave-del{
   float: right;
   position: absolute;
   right: 20px;
   top: 45px !important;
}
  
}

@media (min-width: 768px){
.modal-dialog {
    width: 470px;
    margin: 56px auto !important;
}

.btn-default {
    border-width: 1px;
    /*padding: 7px 10px !important;*/
}

.postedwidth{
  width: 11%;
  padding: 9px 14px !important;
    margin: 0px -12px !important;
}
}
.portlet.light{
    padding: 0px 20px 0px 10px !important ;
}

.back-btn {
    margin-bottom: -30px;
}

.match {
    float: none;
    margin: 9px auto;
    display: table;
    font-size: 13px;
    text-align: center;
    /*width: 20px;*/
}

.mypost-match {
    position: absolute;
    float: left;
    left: 25px;
    /* top: 192px; */
    padding: 10px 0px;
}

.ap-th-con{
    font-size: 14px;
    font-weight: 500 !important;
}

.mypost-photo{
    float: left;
    margin: 0 6px 6px 0;
}

.mypost-subject{
    display: block !important;
    font-size: 14px;
    line-height: 1.3;
    margin-left: 46px;
}

.filter-icon{
    float: right;
    right: 15px;
    position: relative;
    cursor:pointer;
}

.filter-input{
    border-color: lightgrey !important;
}

.check-font-size{
    font-size: 13px !important;
}

.leave-del{
   float: right;
   position: absolute;
   right: 20px;
   top: 38px;
}

.advance-len{
  padding-right: 10px;
    padding-left: 6px;
}

@media (min-width: 992px){
.new-col-md-3 {
    width: 16%;
}
.nav-tab-new{
  float: none !important;
    margin: 0px 122px auto !important;
    display: table !important;
    padding-left: 0px;
}
.active-expire{
  padding: 14px 12px !important; 
  width:11% !important;
} 
}

.form-group-new {
    margin-bottom: 25px !important;
}

.posted{
float: none;
margin: 6px auto;
display: table;
}

.label-padding-top{
  padding-top: 0 !important;
}

.matching-criteria-align{
  text-align: center !important;
}

.help-block {
    color: #a94442;
    display: inline;
    font-weight: bolder;
}


.required{
  color: red !important;
}

.new-margin-formgroup{
  margin-left: 0 !important;
  margin-right: 0 !important;
}


.color-button:active:hover, .color-button.active:hover{
  background-color: #61b3de !important;
}


.color-button:active, .color-button.active{
  background-color: #61b3de !important;
}

.show-filter{
  display: none;
}

.modal-border{
    border-top: 0;
    border-right: 0;
    border-left: 0;
}

.table-bordered>tbody>tr>td, .table-bordered>tbody>tr>th, .table-bordered>tfoot>tr>td, .table-bordered>tfoot>tr>th, .table-bordered>thead>tr>td, .table-bordered>thead>tr>th{
  border:2px solid #ddd;
}

.title-color{
  color:darkblue !important;
}

.content-color{
  color: black !important;
} 


@media (min-width: 768px){
.modal-dialog-new {
    width: 540px;
    margin: 56px auto !important;
}
}

.modal-body-new{
  height: 520px;
    overflow-y: auto;
}


.box {
 /* width: 200px; height: 300px;
  position: relative;
  border: 1px solid #BBB;
  background: #EEE;*/
}
.ribbon {
  position: absolute;
  right: -11px;
  top: -6px;
  z-index: 1;
  overflow: hidden;
  width: 75px; height: 75px;
  text-align: right;
}
.ribbon span {
  font-size: 10px;
  font-weight: bold;
  color: #FFF;
  text-transform: uppercase;
  text-align: center;
  line-height: 20px;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  width: 100px;
  display: block;
  background: #79A70A;
  /*background: linear-gradient(#9BC90D 0%, #79A70A 100%);*/
  box shadow: 0 3px 10px -5px rgba(0, 0, 0, 1);
  position: absolute;
  top: 19px; right: -21px;
}
.ribbon span::before {
  content: "";
  position: absolute; left: 0px; top: 100%;
  z-index: -1;
  border-left: 3px solid #79A70A;
  border-right: 3px solid transparent;
  border-bottom: 3px solid transparent;
  border-top: 3px solid #79A70A;
}
.ribbon span::after {
  content: "";
  position: absolute; right: 0px; top: 100%;
  z-index: -1;
  border-left: 3px solid transparent;
  border-right: 3px solid #79A70A;
  border-bottom: 3px solid transparent;
  border-top: 3px solid #79A70A;
}

.show-adsearch{
  display: none;
}

.center-css{
  float: none;
  margin: 0 auto;
  display: table;
}

/*dropdown*/

.dropdown dd, .dropdown dt {
    margin:0px;
    padding:0px;
}
.dropdown ul {
    margin: -1px 0 0 0;
}
.dropdown dd {
    position:relative;
}
.dropdown a, 
.dropdown a:visited {
    color:#fff;
    text-decoration:none;
    outline:none;
    font-size: 12px;
}
.dropdown dt a {
    background-color:#4F6877;
    display:block;
    padding: 8px 20px 5px 10px;
    min-height: 25px;
    line-height: 24px;
    overflow: hidden;
    border:0;
    width:272px;
}
.dropdown dt a span, .multiSel span {
    cursor:pointer;
    display:inline-block;
    padding: 0 3px 2px 0;
}
.dropdown dd ul {
    background-color: #4F6877;
    border:0;
    color:#fff;
    display:none;
    left:0px;
    padding: 2px 15px 2px 5px;
    position:absolute;
    top:2px;
    width:280px;
    list-style:none;
    height: 100px;
    overflow: auto;
}
.dropdown span.value {
    display:none;
}
.dropdown dd ul li a {
    padding:5px;
    display:block;
}
.dropdown dd ul li a:hover {
    background-color:#fff;
}

.row{
  margin-right: -10px;
  margin-left: -10px;
}